[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
pillow = "*"
pip = "*"
instructions = "*"
opencv-python = "*"
numpy = "*"
flask = "*"
python-dotenv = "*"
werkzeug = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
